<ion-view title="Lokasi">
  <ion-content class="padding">
    <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d63363.178129755164!2d110.3494411068172!3d-6.98586755651122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x2e708b28c822d40d%3A0x67f776cdae733260!2sMuseum+Ronggowarsito%2C+Jl.+Abdul+Rahman+Saleh+No.+1+Kalibanteng+Kulon+Semarang+Barat+Semarang+Jawa+Tengah%2C+Indonesia!3m2!1d-6.9859539999999996!2d110.38386!5e0!3m2!1sen!2s!4v1412674792584" width="100%" height="300" frameborder="0" style="border:0"></iframe>
    <div class="icon ion-home"> Museum Ranggawarsita</div>
    <div class="icon ion-paper-airplane"> JL. ABDULRAHMAN SALEH NO. 1 SEMARANG – JAWA TENGAH</div>
    <div class="icon ion-ios7-telephone"> (024) 7602389</div>
    <div class="icon ion-email"> info@museumranggawarsita.com</div>
    <div class="icon ion-earth"> museumranggawarsita.com</div>
  </ion-content>
</ion-view>
