<ion-view title="Museum Ranggawarsita">
  <ion-content class="padding">
    <img src="http://coretanpetualang.files.wordpress.com/2011/08/museum-ronggowarsito-pintu-masuk.jpg" width="100%" height="50%"/>
    	<h4 class="title">Selamat Datang!</h4>
    	<p>
    		<img src="img/kepala-museum.JPG" height="100" style="float:left;padding:5px;"/>Puji syukur kami haturkan kepada Tuhan Yang Maha Esa. Aplikasi mobile android Museum Jawa Tengah Ranggawarsita kini kami hadirkan sebagai wujud kemudahan akses museum dari perangkat bergerak dengan sistem operasi Android. Inovasi ini kami lakukan menyesuaikan dengan perkembangan teknologi informasi saat ini yang berkembang cukup pesat.
Peluncuran Aplikasi mobile android Museum Jawa Tengah Ranggawarsita dengan wajah baru ini merupakan suatu langkah progresif kami untuk lebih mendekatkan diri kepada masyarakat. Diharapkan, pengunjung dapat lebih mudah memperoleh informasi mengenai museum kami.
    	</p>
  </ion-content>
</ion-view>