<ion-view title="Museum Ranggawarsita">
  <ion-content class="padding">
    <img src="http://coretanpetualang.files.wordpress.com/2011/08/museum-ronggowarsito-pintu-masuk.jpg" width="100%" height="50%"/>
    	<h4 class="title">Selamat Datang!</h4>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet hendrerit arcu vel cursus. Nam et nunc eu nisl viverra sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ipsum lorem, sodales eu lobortis eget, tincidunt nec sem. Aliquam eget velit vitae felis scelerisque faucibus. Curabitur vel bibendum massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean id turpis laoreet, mollis libero volutpat, lobortis est. Praesent eget hendrerit ante. Vivamus at dignissim odio. Suspendisse id congue augue. Cras at vulputate dolor, et luctus dolor. Donec molestie fringilla purus, in venenatis odio vulputate et. Vestibulum eu ullamcorper diam. 
    	</p>
  </ion-content>
</ion-view>